a {
    text-decoration: none;
}
.Button{
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    padding: 0;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5rem;
}
.Button:hover{
    border: 5px solid black;
}
.Logo{
    color: coral;
    margin-left:5rem;
}
.Logout{
    color: red;
    margin-left: 100rem;
}
.NavList{
    list-style-type: none;
    margin-top: 4.5rem ;
    margin-left: 800px;
    padding: 0;
    position: absolute;
    font-size: 40px;
}
.NavItems{
    padding: 1rem;
    float: left;
}
.NavItems:hover{
    border: 5px solid black;
}

.NavList a{
    color:black;
}
.Menu{
    position: absolute;
    margin-top:0;
    list-style-type: none;
    font-size: 2rem;
    width: 30rem;
    padding: 0;
    border: 1px dashed red;
}
.Menu li{
    border-bottom: 10px solid black;
    margin-top: -10px;
    border-width: 100%;
    text-align: center;
    margin-left: -10rem;
}
.Secondary{
    right: 0rem;
}
.MainMenu{
    background-color: green;
    height: 42rem;
    width: 30rem; 
    display: inline-block; 
    margin-left: 10px;
    position: absolute;
    margin-top: 0;
}
#MainMenuControl:checked ~ .MainMenu{
    left:-18rem;
}
#MainMenuControl:checked ~ .MainSection{
    width: calc(56.9rem + 19rem - 8px);
    left:-18rem;
}
.SecondaryMenu{
    background-color: purple;
    height: 42rem;
    width: 30rem;
    display: inline-block;
    margin-left: calc(56rem + 30rem + 40px);
    position: absolute;
}
.MainSection{
    background-color: whitesmoke; 
    height: 42rem; 
    width: 56.9rem; 
    margin-left: calc(30rem + 18px); 
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    float: left;
    scroll-snap-type: mandatory;
    z-index: 5;
}
h1.MainText{
    font-size: 50px; 
    margin-left: 1rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer.CopyRight{
    background-color: blue; 
    height: 10rem; 
    width: 1900px;
    position: absolute;
    margin-top: calc(10px + 42rem);
}
