body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
header{
    height: 20vh;
    background-color: yellow;
    position: relative;
    top:0;
    left: 0;
    border: 10px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.main-nav{
    list-style-type: none;
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.main-nav a{
    color: black;
    margin-left: 10px;
    font-size: 50px;
    padding: 10px;
    border: 5px solid transparent;
}
.main-nav a:hover{
    border: 5px solid black;
}
.button{
    font-size: 50px;
    border: 5px solid transparent;
    display: inline;
    background-color: transparent;
    translate: -50%;
}
.button:hover{
    border: 5px solid black;
}
.logo{
    left: 7%;
    position: absolute;
}
.logout{
    right: 0;
    position: absolute;   
}
.logo a{
    color: coral;
}
.logout a{
    color: red;
}
main{
    height: 60vh;
    width: calc(100% - 20px);
    background-color: #252625;
    padding: 0;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    display: inline-flex;
    position: absolute;
}
article{
    width: 256px;
    background-color: green;
    height: 100%;
    border-right: 10px solid black;
}
.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 25px;
}
.menu p{
    border-bottom: 10px solid black ;
    padding-bottom: 25px;
}
.menu-bars{
    position: absolute;
    top: 7%;
    left: 13px;
    font-size: 35px;
    color: transparent;
}
#main-menu-control:checked ~ section{   
    width: calc(100% - 256px * 2 - 20px + 200px)
}
#main-menu-control:checked ~ article{
    width: 56px;
}
#main-menu-control:checked ~ article .main-menu li .menu-bars{
    color: black;
}
#main-menu-control:checked ~ article .main-menu li p{
    display: none;
}
section{
    width: calc(100% - 256px * 2 - 20px);
    height: 100%;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-right:10px solid black ;
    overflow-y: scroll;
    outline: none;
    box-sizing: border-box;
    padding-left: 20px;
}
aside{
    width: 256px;
    background-color: purple;
    height: 100%;
}
footer{
    height: 20vh;
    top: calc(60vh + 10px);
    width: calc(100% -20px);
    margin: 0;
    padding: 0;
    background-color: blue;
    position: relative;
    display: flex;
    justify-content: center;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}
